body {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.start-container {
  margin: auto;
  padding-bottom: 10px;
}
button {
  display: flex;
  background-color: #e2725b;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.game-window {
  display: none;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  max-height: 80vh;
}
.road-area {
  display: grid;
  align-items: start;
  row-gap: 1px;
  grid-template-rows: auto;
  background-color: green;
}
.road-lane {
  overflow: hidden;
  background-color: rgb(47, 46, 46);
  height: 60vh;
}
.end-zone {
  height: 4em;
}
.start-zone {
  height: 4em;
}

.container {
  display: inline-block;
}
#playerCharacter {
  width: 70px;
  height: 70px;
  z-index: 0;
  position: absolute;
  left: 40vw;
  top: 140px;
}
.hide-this {
  display: none;
}
.square {
  width: 25p;
  height: 25px;
  z-index: 0;
  background-color: red;
  position: absolute;
  left: 100vw;
}
.image {
  width: 50px;
  height: 50px;
  z-index: 0;
  position: absolute;
}

// color pallettes - terracotta and green #E2725B, #3F826D, #E1E6E1
// cool beige and green #D8BCAB, #A0ECD0, #3A606E
// champagne and green #F7E7CE, #588157, #1D201F
