body {
  background-color: #3f826d;
  display: flex;
  flex-direction: column;
  font: bold 1.3rem "Fira Sans", sans-serif;
  height: 100vh;
  color: #e1e1e1;
}

h1 p {
  text-align: center;
}

.start-container {
  margin: auto;
  padding-bottom: 10px;
}
.start-container__h1 {
  text-align: center;
}
.start-container__p {
  text-align: center;
  padding: 10px;
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .start-container {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1401px) {
  .start-container {
    font-size: 2rem;
  }
}

button {
  display: block;
  background-color: #e2725b;
  color: #e1e1e1;
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  border-color: #e2725b;
  font-size: x-large;
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  button {
    font-size: 1.5rem;
    padding: 20px;
  }
}
@media only screen and (min-width: 1401px) {
  button {
    font-size: 2rem;
    padding: 20px;
  }
}

.game-window {
  display: none;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  max-height: 80vh;
  padding: 20px;
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .game-window {
    font-size: 1.5rem;
    max-height: 70vh;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .game-window {
    font-size: 1.5rem;
    max-height: 70vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1401px) {
  .game-window {
    font-size: 2rem;
    max-height: 80vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}

.road-area {
  display: flex;
  align-items: center;
  row-gap: 1px;
  background-color: rgb(47, 46, 46);
  min-height: 80vh;
  max-height: 80vh;
  padding: 20px;
  overflow: auto;
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .road-area {
    padding: 30px;
  }
}

.hide-this {
  display: none;
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .game-window h2 {
    font-size: xx-large;
  }
  .game-window .game-window {
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
  }
}
