@use "./media.scss";

body {
  background-color: #3f826d;
  display: flex;
  flex-direction: column;
  font: bold 1.3rem "Fira Sans", sans-serif;
  height: 100vh;
  color: #e1e1e1;
}
h1 p {
  text-align: center;
}
.start-container {
  margin: auto;
  padding-bottom: 10px;

  &__h1 {
    text-align: center;
  }
  &__p {
    text-align: center;
    padding: 10px;
  }

  @include media.tablet-landscape {
    font-size: 2rem;
  }
  @include media.monitor {
    font-size: 2rem;
  }
}
button {
  display: block;
  background-color: #e2725b;
  color: #e1e1e1;
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  border-color: #e2725b;
  font-size: x-large;
  @include media.tablet-landscape {
    font-size: 1.5rem;
    padding: 20px;
  }
  @include media.monitor {
    font-size: 2rem;
    padding: 20px;
  }
}
.game-window {
  display: none;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  max-height: 80vh;
  padding: 20px;
  @include media.tablet-landscape {
    font-size: 1.5rem;
    max-height: 70vh;
  }
  @include media.laptop {
    font-size: 1.5rem;
    max-height: 70vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
  @include media.monitor {
    font-size: 2rem;
    max-height: 80vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}
.road-area {
  display: flex;
  align-items: center;
  row-gap: 1px;
  background-color: rgb(47, 46, 46);
  min-height: 80vh;
  max-height: 80vh;
  padding: 20px;
  overflow: auto;
  @include media.laptop {
    padding: 30px;
  }
}

.hide-this {
  display: none;
}
.game-window {
  @include media.laptop {
    h2 {
      font-size: xx-large;
    }
    .game-window {
      margin-bottom: 50px;
      margin-right: 50px;
      margin-left: 50px;
    }
  }
}
