body {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.start-container {
  margin: auto;
  padding-bottom: 10px;
}
button {
  display: flex;
  background-color: #e2725b;
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.game-window {
  display: none;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-height: 80vh;
  margin: auto;
}
.road-area {
  display: grid;
  align-items: start;
  row-gap: 1px;
  grid-template-rows: auto;
  background-color: green;
}
.road-lane {
  overflow: hidden;
  background-color: rgb(47, 46, 46);
  height: 50px;
  color: white;
  align-items: stretch;
  text-decoration: dashed;
}
.end-zone {
  height: 4em;
}
.start-zone {
  height: 4em;
}
.stripe {
  position: relative;
  opacity: 0.5;
  top: 50%;
  width: 210vw;
  min-width: 210vw;
  height: 5%;
  background: repeating-linear-gradient(
    to left,
    white,
    white 6vw,
    transparent 6vw,
    transparent 20vw
  );
  background-repeat: space;
}
#level {
  align-self: flex-end;
}
.container {
  display: inline-block;
}
#playerCharacter {
  width: 70px;
  height: 70px;
  z-index: 0;
  position: absolute;
  left: 40vw;
  top: 18vh;
}
.hide-this {
  display: none;
}

// color pallettes - terracotta and green #E2725B, #3F826D, #E1E6E1
// cool beige and green #D8BCAB, #A0ECD0, #3A606E
// champagne and green #F7E7CE, #588157, #1D201F
